ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 13px
}

/* leaving plenty bg code here:   
body{
 background: -webkit-linear-gradient(45deg, rgb(55, 130, 184) 0%, rgb(45, 185, 229) 100%);
}
 */